<li class="list-group-item" data-comment-id="<%= comment.id %>">
  <div class="row">
    <!--todo commenting out avatar since we haven't started getting people's avatar yet. Also we will have to make the avatars real small like ProductHunt to show in the slider comments. ProductHunt uses 30x30px.-->
    <!--<div class="col-xs-2 col-md-1">-->
    <!--<img src="http://placehold.it/80" class="img-circle img-responsive" alt="" />-->
    <!--</div>-->
    <!--Changed the following div to 12 columns because we have hidden the avatar div. It used to be col-xs-10 col-md-11-->
    <div class="col-xs-12 col-md-12">
      <div>
        <!--todo not sure if we always have a name, check if we are getting name from users who register directly with healthfundit-->
        <a href="#"><%= comment.user.name%></a>
        <div class="mic-info">
          <%= comment.created_at.strftime('%m/%d/%Y %I:%M%p')%>
        </div>
      </div>
      <div class="comment-text">
        <%= comment.content %>
      </div>
      <div class="action">
        <!--todo do we need approved and edit actions?-->
        <!--<button type="button" class="btn btn-primary btn-xs" title="Edit">-->
        <!--<span class="glyphicon glyphicon-pencil"></span>-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-success btn-xs" title="Approved">-->
        <!--<span class="glyphicon glyphicon-ok"></span>-->
        <!--</button>-->
        <% if (current_user && current_user.id == comment.user.id) %>
            <!--<button type="button" class="btn btn-danger btn-xs pull-right" title="Delete">-->
              <%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), comment_path(comment), :method => :delete, :remote => true, :confirm => 'Are you sure?', :class => 'btn btn-danger btn-xs campaign-delete-link pull-right'%>

            <!--</button>-->
        <% end %>
      </div>
    </div>
  </div>
</li>