<div class="container campaign-slider">
  <div id="row">
    <div class="col-md-12 flash-messages">
      <% render 'layouts/messages'%>
    </div>
  </div>
  <div class="row slider-top-bar">
    <div class="col-md-1">
        <i class="glyphicon glyphicon-chevron-left slider-prev" onclick="$.colorbox.prev()"></i>
    </div>
    <div class="col-md-1 col-md-offset-10 slider-next">
      <i class="glyphicon glyphicon-chevron-right" onclick="$.colorbox.next()"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 image-and-description">
      <div>
        <%= image_tag @campaign.featured_image.url(:slider_cropped) %>
      </div>
      <div class="share-icons">
        <div class="twitter-sharer"><a href="https://twitter.com/share" class="twitter-share-button" data-via="healthfundit" data-text="<%= @campaign.title%>">Tweet</a></div>
        <div class="facebook-sharer fb-like" data-href="<%= request.original_url %>" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>
      <div class="clearfix"></div>
      <div class="summary">
        <%= @campaign.summary %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="row title-and-upvote">
        <div class="col-md-10">
          <h3 class="campaign-title"><%= @campaign.title %></h3>
        </div>
        <div class="col-md-2 upvote-container">
          <div class="upvote <%= @campaign.has_user_voted(current_user) ? 'upvoted' : '' %>" data-campaign-id="<%= @campaign.id%>">
            <%= link_to '', campaign_toggle_vote_path(@campaign.id), :method => :post, 'data-type' => :json, :remote => true, 'data-campaign-id' => @campaign.id, :authenticity_token => form_authenticity_token, class: 'glyphicon glyphicon-arrow-up slider-upvote-link' %>
            <span class="upvote-count"><%= @campaign.votes_count ? @campaign.votes_count : 0 %></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div>
          <%= form_for([@campaign, Comment.new], :remote => true, :html => {:class => 'comment-form'}) do |f| %>
              <%= f.text_area :content, placeholder: 'Leave a Comment', rows: '5', class: 'form-control' %>
              <%= submit_tag 'Submit', class: 'btn btn-success pull-right', style: 'margin-top: 5px;' %>
          <% end %>
        </div>
      </div>
      <%= render partial: 'slider_comments' %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
      //add ajax.success listeners to upvote link
      HF.addVoteAjaxListeners('a.slider-upvote-link[data-remote]');
      // Needed to enable the tweet button. See http://denvycom.com/blog/twitter-button-with-dynamic-custom-data-text-message/
      twttr.widgets.load();
      // Needed to make parse identify FB buttons and make them work. See https://developers.facebook.com/docs/plugins/share-button/
      FB.XFBML.parse();
  });
</script>